.header {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  .header h1 {
    display: inline-block;
    position: relative;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  }
  .header .title-color{
    background-color: rgb(42, 165, 52);
  }
  // .header h1::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   border-left: 1.5rem solid #f2f2f2;
  //   border-top: 3rem solid transparent; 
  //   border-bottom: 3rem solid transparent;      
  // }
  // .header h1::after {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   border-right: 1.5rem solid #f2f2f2;
  //   border-top: 3rem solid transparent; 
  //   border-bottom: 3rem solid transparent;      
  // }
  
  .title {
    text-align: center;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  

  //menu
  .header__menu-burger {
    z-index: 100;
    position: relative; /* задаем относительное позиционирование */
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
    margin-left: 10px;
    cursor: pointer;
    span, &::after, &::before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    span {
        top: 21px;
    }
    &::after, &::before {
        content: "";
    }
    &::after {
        bottom: 0px;
    }
    &::before {
        top: 10px;
    }
}
.header__menu-burger.open-menu {
    span {
        opacity: 0;
        transition: 0.5s;
    }
    &::before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    &::after {
        transform: rotate(-38deg);
        top: 16px;
        transition: 0.4s;
    }
}
.widget { 
    position: absolute;
    top: 40px;
    z-index: -1;
    visibility: hidden;
    width: 200px;
    padding: 20px 30px;
    margin-left: 10px;
    background: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid gray;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.445);
    border-radius: 5px;
  }
  .widget.open-menu{
    z-index: 100;
    visibility: visible;
  }
  .widget-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #b99d61;
  }
  .widget-list {
    padding: 0;
    list-style: none;
    span {
      text-decoration: none;
      outline: none;
      display: block;
      padding: 6px 0; 
      letter-spacing: 1px;
      font-weight: 300;
      color: rgba(241, 56, 56, 0.719);
    }
    span:before {
      content: "\2014";
      margin-right: 14px;
    }
  }
  .menu-link {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0; 
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(10, 10, 10);
    transition: .3s linear;
    &:before {
      content: "\2014";
      margin-right: 14px;
    }
    &:hover {
      color: #b99d61;
    }
  }

  #title-2 {
    display: none;
  }

  .switch {
    // font-size: 0; // Remove gap between inline-block elements
    text-align: center;
    label {
      cursor: pointer;
	    position: relative;
      margin-right: 1px;
      input {
        opacity: 0; /* hidden but still tabable */
        position: absolute;
        &:checked ~ span {
          background-color: lighten(#22caeb, 25%);
          opacity: 1;
        }
      }
      span {
        display: inline-block;
        height: 3px;
        width: 50px;
        transition: all 150ms ease-in-out;
        background-color: lighten(#333333, 30%);
        opacity: 0.6;
        &:hover {
          background-color: lighten(#22caeb, 35%);
          opacity: 1;
        }
      }
    }
    
    .radio-left{
      border-radius: 1.5px 0 0 1.5px;
    }
    .radio-right{
      border-radius: 0 1.5px 1.5px 0;
    }
    
  }
  
  